<div class="container container-margin-top">
    <form (ngSubmit)="formSubmit(frm)" #frm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" ngModel required #frm_name="ngModel">  
          <span *ngIf="!frm_name.valid && frm_name.touched">Please enter name</span>        
        </div>
        <div ngModelGroup="emailGenderGroup">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" ngModel required email #frm_email="ngModel">
            <span *ngIf="!frm_email.valid && frm_email.touched">Please enter email</span>
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-select" id="gender" name="gender" ngModel required #frm_gender="ngModel">
                <option value="m">Male</option>
                <option value="f">Female</option>
            </select>
            <span *ngIf="!frm_gender.valid && frm_gender.touched">Please enter email</span>
          </div>
        </div>
          <div class="form-group">
            <label for="salary">Salary</label>
            <input type="number" class="form-control" id="salary" name="salary" [(ngModel)]="sal">
            <span>{{sal}}</span>
          </div>
          <div class="form-group form-button-margin">
            <button type="submit" class="btn btn-primary" [disabled]="frm.invalid">Submit</button>
          </div>
          <div class="form-group form-button-margin">
            <button type="button" class="btn btn-secondary" (click)="setValues(frm)">setValues</button>
          </div>
          <div class="form-group form-button-margin">
            <button type="button" class="btn btn-success" (click)="patchValues(frm)">patchValues</button>
          </div>
      </form>
</div>

<!-- <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button> -->